<article>
	<small class="faded">
		<time>{{ entry.postDate|date("d M Y g:i a") }}</time>
		{% if entry.tags.exists() %}
			|
			{{ entry.tags.all()|join(', ')}}
		{% endif %}
	</small>
	<h2 class="{{ entry.section == "Posts" ? "text-lg" : "" }}">
		<a href="/{{ entry.slug }}">
			{{ entry.title }}
		</a>
	</h2>

	{% if entry.section == "Stream" %}
		<div class="mt-sm">
			{{ entry.body }}
		</div>
	{% else %}
		<div class="mt-sm">
			<div class="text-md">
				{{ entry.summary }}
			</div>
		</div>
	{% endif %}
</article>
