<article class="{{ entry.section }}">
	<small class="lightish">
		{% include "_partials/postmeta.twig" with {'entry': entry} only %}
	</small>
	<h2 class="{{ entry.section == "Posts" ? "text-xl" : "" }} mt-xs">
		<a href="/writing/{{ entry.slug }}">
			{{ entry.title }}
		</a>
	</h2>

	{% if entry.section == "Stream" %}
		<div class="mt-sm stack">
			{{ entry.body }}
		</div>
	{% else %}
		<div class="mt-sm">
			<div class="text-lg">
				{{ entry.summary }}
			</div>
		</div>
	{% endif %}
</article>
