{% import "_partials/walks" as walks %}
{% import "_partials/posts" as posts %}

<article class="{{ entry.section }}">
	<small class="muted">
		{{ posts.meta(entry) }}
	</small>
	<h2 class="{{ entry.section == "Posts" ? "text-xl" : "" }} mt-xs" id="{{ entry.slug }}">
		<a href="{{ entry.url }}">
			{{ entry.title }}
		</a>
	</h2>

	{% if entry.section == "Stream" %}
		<div class="mt-md stack">
			{{ entry.body|syntaxHighlight|srcset }}
		</div>

		<div class="mt-md">
			{{ posts.tags(entry) }}
		</div>
	{% else %}
		{% if entry.section == "Books" %}
			{% include "_partials/bookmeta.twig" with {'entry': entry} only %}
		{% endif %}

		{% if entry.section == "Walks" %}
			{{ walks.meta(entry) }}
		{% endif %}

		<div class="mt-md">
			<div class="{{ entry.section in ["Posts", "Books"] ? "text-lg" : "" }}">
				{{ entry.summary|syntaxHighlight|srcset }}
			</div>
		</div>
	{% endif %}
</article>
