{% macro content(entry, isFirst=false, isSingle=false) %}
	{% import "_partials/posts" as posts %}
	{% import "_partials/walks" as walks %}

	{% if not isFirst %}
		<hr class="short" style="margin-bottom: var(--stack-spacing);" />
	{% endif %}

	<p class="muted">
		{{ posts.date(entry) }}
	</p>

	<h2 class="sans {{ entry.section == 'Stream' ? 'text-lg' : '' }} p-name">
		<a href="{{ entry.url }}" class="u-url">
			{{ entry.title }}
		</a>
	</h2>

	{% if entry.section == "Books" %}
		<div class="mt-xs">
			{% include "_partials/bookmeta.twig" with {'entry': entry} only %}
		</div>
	{% endif %}

	{# {{ posts.featuredImage(entry) }} #}

	<div class="content stack mt-md e-content">
		{{ entry.body|syntaxHighlight|ratings|srcset|groupFigures }}
	</div>

	{% if entry.section == "Walks" %}
		{{ walks.timings(entry) }}
	{% endif %}

	{% if entry.tags and entry.tags.exists() %}
		<div class="mt-lg">
			{{ posts.tags(entry) }}
		</div>
	{% endif %}

	{% if isSingle %}
		{{ posts.nextPrev(entry) }}
	{% endif %}
{% endmacro %}
