{% macro content(entry) %}
	{% import "_partials/posts" as posts %}
	{% import "_partials/walks" as walks %}

	<p class="muted">
		{{ posts.meta(entry) }}
	</p>

	<h1 class="mt-xs sans">
		<a href="{{ entry.url }}">
			{{ entry.title }}
		</a>
	</h1>

	{% if entry.section == "Books" %}
		<div class="mt-xs">
			{% include "_partials/bookmeta.twig" with {'entry': entry} only %}
		</div>
	{% endif %}

	{# {{ posts.featuredImage(entry) }} #}

	<div class="content stack mt-md">
		{{ entry.body|syntaxHighlight|srcset|groupFigures }}
	</div>

	{% if entry.section == "Walks" %}
		{{ walks.timings(entry) }}
	{% endif %}

	<div class="mt-md">
		{{ posts.tags(entry) }}
	</div>

	{{ posts.nextPrev(entry) }}
{% endmacro %}
