{% macro content(entry) %}
	{% import "_partials/posts" as posts %}
	{% import "_partials/walks" as walks %}

	<small class="muted">
		{{ posts.meta(entry) }}
	</small>

	<h1 class="mt-xs">
		<a href="{{ entry.url }}">
			{{ entry.title }}
		</a>
	</h1>

	{% if entry.section == "Books" %}
		<div class="mt-xs">
			{% include "_partials/bookmeta.twig" with {'entry': entry} only %}
		</div>
	{% endif %}

	<p class="text-md mt-md bold">{{ entry.summary }}</p>

	{{ posts.featuredImage(entry) }}

	<div class="stack mt-md">
		{{ entry.body|syntaxHighlight|srcset }}
	</div>

	{% if entry.section == "Walks" %}
		{{ walks.timings(entry) }}
	{% endif %}

	<div class="mt-md">
		{{ posts.tags(entry) }}
	</div>

	{{ posts.nextPrev(entry) }}
{% endmacro %}
