{%- set streamItems = entries|filter((e) => e.section == 'Stream') -%}
{%- set theRest = entries|filter((e) => e.section != "Stream") -%}

<div class="month">
	<h4 class="sans muted mt-md regular text-right">
		{{ month }}
		{{ year }}
	</h4>
	<ul role="list" class="mt-xs">
		{% for entry in entries %}
			<li>
				<a href="{{ entry.url }}" class="flex justify-between no-decoration">
					<span class="underline flex align-center">
						<span>{{ entry.title }}</span>
						{% if entry.rating %}
							<span class="ml-sm muted mt-xs">
								{% include "_partials/stars" with {'count': entry.rating} only %}
							</span>
						{% endif %}
					</span>
					<hr class="dots flex-1"/>
					<span class="underline">{{ entry.postDate|date("j") }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
