{% macro date(entry) %}
	<time class="sans dt-published" datetime="{{ entry.postDate|date("Y-m-d") }}">
		{{ entry.postDate|date("l, j M Y g:i a") }}
	</time>
{% endmacro %}

{% macro featuredImage(entry) %}
	{% if entry.featuredImage is not empty and entry.featuredImage.all() is not empty %}
		{%- set image = entry.featuredImage.one() -%}
		<div class="mt-md">
			<img src="{{ image.url }}" alt="{{ image.title }}" srcset="{{ image.getUrl('sm')}} 450w, {{ image.getUrl('md')}} 900w, {{ image.getUrl('lg')}} 1500w" sizes="100w">
		</div>
	{% endif %}
{% endmacro %}

{% macro tags(entry) %}
	{% if entry.tags and entry.tags.exists() %}
		{% set currentFilter = craft.app.request.getQueryParam("tags")|split(",") %}
		<p class="cluster" data-size="sm">
			{% for tag in entry.tags.all() %}
				<a href="/?tags={{ tag.slug }}" class="tag {{ tag.slug in currentFilter ? "is-active" : "" }}">
					{{ tag.title }}
				</a>
			{% endfor %}
		</p>
	{% endif %}
{% endmacro %}

{% macro nextPrev(entry) %}
	{%- set sections = ["stream", "posts", "books", "walks"] %}
	{%- set nextPost = craft.entries()
		.section(sections)
		.after(entry.postDate)
		.orderBy("postDate")
		.id(["not", entry.id])
		.one() -%}

	{%- set prevPost = craft.entries()
		.section(sections)
		.before(entry.postDate)
		.orderBy("postDate desc")
		.id(["not", entry.id])
		.one() -%}
	<div class="grid mt-lg" data-columns="2">
		<div>
			{% if nextPost %}
				<p class="text-sm muted sans">Next</p>
				<p>
					<a href="{{ nextPost.url }}" class="font-bold">{{ nextPost.title }}</a>
				</p>
				<p class="text-sm sans">{{ nextPost.summary }}</p>
			{% endif %}
		</div>
		<div class="md:text-right">
			{% if prevPost %}
				<p class="text-sm muted sans">Previous</p>
				<p>
					<a href="{{ prevPost.url }}" class="font-bold">{{ prevPost.title }}</a>
				</p>
				<p class="text-sm sans">{{ prevPost.summary }}</p>
			{% endif %}
		</div>
	</div>
{% endmacro %}
