{% import "_partials/walks" as walks %}
{% import "_partials/posts" as posts %}
{% import "_partials/entrycontent" as entrycontent %}

{% extends "_layout.twig" %}

{% block title %}
	{{ entry.title }}
{% endblock %}

{% block metaDescription %}{{ entry.summary }}{% endblock %}

{% block head %}
	{%- set title = entry.title -%}
	{%- set description = entry.summary -%}
	{%- set image = url(url() ~ "api/post-images/v2/" ~ entry.slug) -%}
	{%- set url = url() -%}
	<meta property="og:description" content="{{ description }}"/>
	<meta property="og:image" content="{{ image }}"/>
	<meta property="og:locale" content="en_GB"/>
	<meta property="og:site_name" content="{{ title }}"/>
	<meta property="og:title" content="{{ title }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="{{ url }}"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="{{ url }}"/>
	<meta name="twitter:title" content="{{ title }}"/>
	<meta name="twitter:description" content="{{ description }}"/>
	<meta name="twitter:creator" content="@charlesharries"/>
	<meta name="twitter:image:src" content="{{ image }}"/>
	{% set documentUri = standardSiteDocumentUri(entry) %}
	{% if documentUri %}
	<link rel="site.standard.document" href="{{ documentUri }}">
	{% endif %}
{% endblock %}

{% block content %}
	<main class="entry container mt-lg">
		{{ entrycontent.content(entry, true, true) }}
	</main>
{% endblock content %}
