{% set hour = entry.postDate|date('G') + 0 %}
{% set isDark = hour >= 19 or hour < 7 %}

{% set primary = 97 %}
{% set highlightH = isDark ? 43 : 226 %}
{% set background = isDark ? 'hsl(' ~ primary ~ ', 80%, 5%)' : 'hsl(' ~ primary ~ ', 20%, 95%)' %}
{% set text = isDark ? 'hsl(' ~ primary ~ ', 20%, 95%)' : 'hsl(' ~ primary ~ ', 80%, 5%)' %}
{% set muted = isDark ? 'hsl(' ~ primary ~ ', 30%, 70%)' : 'hsl(' ~ primary ~ ', 40%, 15%)' %}
{% set accent = 'hsla(' ~ highlightH ~ ', 100%, 50%, 0.99)' %}

{% set type = entry.section.name %}
{% set tagNames = entry.tags ? entry.tags.all()|map(tag => tag.title) : [] %}

{% set fontsPath = 'file://' ~ alias('@webroot') ~ '/fonts' %}

<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<style>
			* {
				margin: 0;
				box-sizing: border-box;
			}

			body {
				font-family: "Bitter";
				background: {{ background }};
				color: {{ text }};
				font-size: 36px;
				max-height: 630px;
				max-width: 1200px;
			}

			.title {
				margin-top: 15px;
				font-family: "Fira Sans";
				font-weight: 400;
				font-size: 96px;
				line-height: 0.8;
				letter-spacing: -0.03em;
				font-style: italic;
			}

			.eyebrow {
				font-size: 30px;
			}

			.accent {
				color: {{ accent }};
			}

			{# .eyebrow::before {
				content: "";
				display: block;
				height: 6px;
				width: 80px;
				background: {{ accent }};
				margin-bottom: 20px;
			} #}

			.desc {
				margin-top: 30px;
			}

			.container {
				position: relative;
				width: 1200px;
				height: 630px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-inline: 80px;
			}

			.divider {
				margin-inline: 10px;
			}

			.footer {
				position: absolute;
				left: 80px;
				bottom: 40px;
				width: calc(100% - 160px);
				color: {{ accent }};
				font-size: 24px;
				margin-top: 60px;
				display: flex;
				justify-content: space-between;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div>
				<p class="eyebrow">
					<span class="type accent">{{ type }}</span>
					{% if tagNames|length %}
						<span class="divider">&bull;</span>
						<span class="tags">{{ tagNames|join(', ') }}</span>
					{% endif %}
				</p>
				<h1 class="title">{{ entry.title }}</h1>
				{% if entry.summary %}
					<p class="desc">{{ entry.summary }}</p>
				{% endif %}
			</div>
			<div class="footer">
				<span class="url">charlesharri.es</span>
				<time class="date" datetime="{{ entry.postDate|date('Y-m-d') }}">
					{{ entry.postDate|date('j M Y') }}
				</time>
			</div>
		</div>
	</body>
</html>
