{% extends "_layout.twig" %}
{% import "_partials/entrycontent" as entrycontent %}

{%- set postsToShow = 5 -%}
{%- set totalPostsToShow = 20 %}

{% if craft.app.request.getQueryParam("loadall") == "true" %}
	{% set totalPostsToShow = 10000 %}
{% endif %}

{%- set archivedPostsToShow = totalPostsToShow - postsToShow %}
{%- set isFiltered = section is defined -%}
{%- set isTagged = craft.app.request.getQueryParam('tags') is not empty -%}
{%- set lastMonth = date("1 month ago")|date -%}
{%- set section = isFiltered ? section : ["stream", "posts", "books", "walks"] -%}
{%- set entries = craft.entries.section(section).limit(postsToShow) %}
{%- set remainingEntries = craft.entries.section(section).offset(postsToShow).limit(archivedPostsToShow) -%}

{% if isTagged %}
	{%- set tags = craft.tags.slug(craft.app.request.getQueryParam('tags')|split(",")) -%}
	{%- set entries = entries.relatedTo(tags) %}
	{%- set remainingEntries = remainingEntries.relatedTo(tags) -%}
{% endif %}

{% block title %}
	{{ isFiltered ? section|capitalize : "All Posts" }}
{% endblock %}

{% block head %}
	{%- set title = "Charles Harries" -%}
	{%- set description = "I'm a software developer working on the web in the North East of England." -%}
	{%- set image = url(url() ~ "api/post-images") -%}
	{%- set url = url() -%}
	<meta property="og:description" content="{{ description }}"/>
	<meta property="og:image" content="{{ image }}"/>
	<meta property="og:locale" content="en_GB"/>
	<meta property="og:site_name" content="{{ title }}"/>
	<meta property="og:title" content="{{ title }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="{{ url }}"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="{{ url }}"/>
	<meta name="twitter:title" content="{{ title }}"/>
	<meta name="twitter:description" content="{{ description }}"/>
	<meta name="twitter:creator" content="@charlesharries"/>
	<meta name="twitter:image:src" content="{{ image }}"/>
{% endblock %}

{% macro filterDescription(section) %}
	{% set tagNames = craft.app.request.getQueryParam("tags")|split(",") %}
	<h1 class="serif highlight text-md keyline">
		{% if tagNames|filter is not empty %}
			{{ section ? section|title : "Post" }}s for
			{% for tagName in tagNames %}
				{% set tag = craft.tags().slug(tagName).one() %}
				{% if tag is not empty and tagName is not empty %}
					{{ tag.title }}
				{% endif %}
			{% endfor %}
		{% else %}
			Latest {{ section ? section : "from the blog mines" }}
		{% endif %}
	</h1>
{% endmacro %}

{% block content %}
	<main class="container mt-huge">

		{{ _self.filterDescription(isFiltered ? section : "") }}

		<ul role="list" class="latest stack mt-lg" data-size="lg">
			{% for entry in entries.limit(postsToShow).all() %}
				<li>
					<article class="h-entry">
						{{ entrycontent.content(entry, loop.index==1) }}
					</article>
				</li>
			{% endfor %}
		</ul>


		{%- set remainingEntries = remainingEntries.all() -%}
		{% if remainingEntries is not empty %}
			<h2 class="serif highlight text-md keyline mt-xl">aaaand the Rest of It</h2>

			<p class="cluster mt-md">
				<a href="/only:posts">Posts</a>
				<a href="/only:stream">Stream</a>
				<a href="/only:books">Books</a>
				<a href="/only:walks">Walks</a>
				{% if isFiltered or isTagged %}
					<span class="darkish">&bull;</span>
					<a href="/">Clear filters</a>
				{% endif %}
			</p>

			<div id="archive" class="stack mt-lg" data-size="lg">
				{% for year, months in sortByYear(remainingEntries) %}
					{% include "_partials/year.twig" with {
						'year': year,
						'months': months
					} only %}
				{% endfor %}
			</div>

			<div class="mt-lg text-right" id="loadall">
				<p>
					<small class="muted sans">Currently showing latest
						{{totalPostsToShow}}
						posts</small>
				</p>
				<button type="button" class="button mt-sm" id="loadall_btn">Load all posts</button>
			</div>
		{% endif %}
	</main>
{% endblock content %}
